body {
  background-color: #282828;
  overflow-x: hidden;
}

/*
---------------------------------------------------------------------------------------------- Backgrounds:
*/
#home {
  background-image: url("../Resources/Images/Backgrounds/home.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  padding: 10px;
  width: 100vw;
  display: inline-block;
  margin: 10px auto;
}

#about {
  background-image: url("../Resources/Images/Backgrounds/about-me.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  width: auto;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
}

#projects {
  background-image: url("../Resources/Images/Backgrounds/projects.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
}

#contact {
  background-image: url("../Resources/Images/Backgrounds/contact.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  width: auto;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
}

/*
  ------------------------------------------------------------------- Brand:
  */
.navbar {
  z-index: 2;
}

.brand-text {
  color: white;
  font-family: "Patua One", cursive;
  font-size: 35px;
}

.brand-logo {
  width: 65px;
  height: 55px;
}

#brand-logo {
  width: 50px;
  height: auto;
}

#navbar-brand{
  position: fixed;
}

/*
  -------------------------------------------------------------------------Intro:
  */
.intro-smaller {
  color: white;
  font-family: "Patua One", cursive;
  font-size: 25px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 0 0 0;
}

.intro {
  color: white;
  font-family: "Patua One", cursive;
  font-size: 55px;
  text-align: center;
  /* margin: 450px 0 0 0; */
  margin-top: 18%;
}

/*
  ---------------------------------------------------------------------Menu: 
  */
.menu {
  margin: 10px 25px 0px auto;
}

.menu-item {
  float: right;
  text-align: right;
  text-decoration: none;
  display: inline;
  margin: 10px;
}

.menu-item-text {
  text-decoration: none;
  color: white;
  underline: none;
  color: white;
  font-family: "Patua One", cursive;
  font-size: 30px;
}
/*
  -----------------------------------------------------See More:
  */

.see-more {
  font-family: "Patua One", cursive;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 17%;
}

.see-more-text {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.headline {
  color: white;
  font-family: "Patua One", cursive;
  font-size: 65px;
  text-align: center;
  margin: 0 0 0 0;
}

/* 
  ----------------------------------------------------------About Me:   
  */
.about-me-text {
  color: white;
  font-family: "Patua One", cursive;
  font-size: 35px;
  margin: 80px 150px 0 150px;
  text-align: center;
  background-color: lightgray;
  border-radius: 25px;
  background: transparent;
  background-color: rgba(192, 192, 192, 0.7);
  text-indent: 30px;
}

.portret {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px;
  width: 400px;;
  height: 400px;
  margin-top: 65px;
}

/*
  -----------------------------------------------Gallery: 
  */
/* div.gallery {
  margin: 10px;
  border: 3px solid black;
  float: left;
  border-radius: 35px;
}

div.gallery:hover {
  border: 2px solid gray;
  border-radius: 35px;
}

div.gallery img {
  width: 100%;
  height: 250px;
  border-radius: 35px;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #00001a;
  border-radius: 35px;
}

.container {
  z-index: 1;
  position: relative;
  padding: 0px;
  clear: both;
}

.container:hover .overlay {
  opacity: 0.9;
}

.image-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Patua One", cursive;
  font-size: 35px;
} */


/*
  -----------------------------------------------Gallery: 
  */

  img{
    width: 700px;
    height: 350px;
    border-radius: 25px;
  }
/* div.gallery { */
  /* margin: 10px; */
  /* border: 2px solid black; */
  /* float: left; */
  /* border-radius: 35px; */
/* } */

/* div.gallery img:hover {
  border: 2px solid black;
  border-radius: 35px;
}

div.gallery img {
  width: 75%;
  height: 30%;
  border-radius: 35px;
}
#projects .row {
  margin: 10px 0px 40px 200px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #00001a;
  border-radius: 30px;
  border: 3px solid black;
  width: 74%;
}

.container {
  position: relative;
  border-radius: 35px;
}

.container:hover .overlay {
  opacity: 0.9;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Patua One", cursive;
  font-size: 35px;
} */

/*  
  -----------------------------------------------------Social Media:   
  */
#contact img {
  width: 250px;
  height: 250px;
}

.social-media img {
  width: 200px;
  height: 200px;
  margin: 0px 225px 0px 200px;
}

.social-media-second {
  margin: 50px 0px 0px 0px;
}

.social-media-second img {
  width: 200px;
  height: 200px;
  margin: 50px 225px 0px 200px;
}

.social-media-images .second img:hover {
  border: 3px solid white;
  border-radius: 55px;
  transition: ease-out;
  transition-duration: 150ms;
}

.social-media-images .first img:hover {
  border: 5px solid white;
  border-radius: 50%;
  transition: ease-out;
  transition-duration: 150ms;
}

.social-media-text span {
  color: white;
  font-family: "Patua One", cursive;
  font-size: 35px;
  text-align: center;
  display: inline-block;
}

.social-media-text {
  text-align: center;
}

.social-media-images {
  text-align: center;
}

.social-media-images img {
  display: inline-block;
}

a:hover {
  cursor: pointer;
}

.see-more-text .fa-angle-down {
  display: none;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.navbar {
  width: 100%;
}

.navbar-brand img {
  width: 65px;
  height: 55px;
}

.navbar-brand {
  color: white;
  font-family: "Patua One", cursive;
  font-style: italic;
  font-size: 35px;
}

.nav-item {
  color: white;
  font-family: "Patua One", cursive;
  font-size: 30px;
  border-radius: 15px;
}

.nav-item:hover{
  background-color:rgba(0, 0, 0, 0.5);
  transition: ease-in;
  transition-duration: 250ms;
}

figure.overlay {
  font-family: "Lato", sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 700px;
  max-height: 350px;;
  width: 100%;
  background: #000000;
  text-align: left;
  /* margin-left: 150px; */
  border-radius: 25px;
  margin-bottom: 50px;
}
figure.overlay * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 25px;
}
figure.overlay img {
  /* max-width: 100%; */
  opacity: 1;
  /* width: 100%; */
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  border-radius: 25px;
}
figure.overlay .project-date {
  margin-top: 100px;
  float: right;
}
figure.overlay figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
figure.overlay figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  
}
figure.overlay h2,
figure.overlay p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  
}
figure.overlay h2 {
  /* word-spacing: -0.15em; */
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.overlay h2 span {
  font-weight: 800;
}
figure.overlay p {
  margin-top: 25px;
  font-weight: 200;
  font-size: 20px;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.overlay a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.overlay:hover img {
  opacity: 0.3;
}
figure.overlay:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.overlay:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.overlay:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
